<section>
  <div class="w-screen">
    <%= image_tag "enamel-pin-bomb.jpg", style: 'height: 45rem', class: 'w-screen object-cover' %>
  </div>
</section>

<section class="bg-gray-50 py-36">
  <div class="bg-gray-100 p-12 flex justify-center w-1/2 mx-auto shadow-md rounded-md">
  <div class="flex flex-col text-center">
    <h2 class="text-4xl mb-6">Another Pin Co.</h2>
    <h3 class="text-3xl">Bringing you quality lapel pins since 2021</h3>
  </div>
  <div class="flex flex-col justify-center">
    <%= link_to products_path do %>
      <button class="px-3 py-2 bg-red-900 hover:bg-red-800 text-white h-12 rounded-md ml-20 shadow-md">
        Shop Pins
      </button>
    <% end %>
  </div>
  </div>
</section>

<section class="py-36 bg-white">
  <h2 class="flex justify-center text-gray-900 text-4xl mb-12">
    Featured Pins
  </h2>
  <div class="flex flex-col lg:flex-row justify-center mx-6">
    <% @featured_products.each do |product| %>
      <div class="flex flex-col mx-16 lg:mx-10 bg-gray-50 px-5 pt-5 rounded-md shadow-lg my-8 lg:my-0 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
        <div class="w-30 lg:w-54">
          <%= link_to product_path(product) do %>
            <%= image_tag product.image_1.url, class: "rounded-lg" %>
          <% end %>
        </div>
        <div class="flex justify-between px-1 pt-6 pb-3">
          <h3 class="text-lg text-blue-400"><%= link_to product.title, product_path(product) %></h3>
          <span class="text-lg"><%= number_to_currency(product.price / 100) %></span>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section>
  <div class="w-screen">
    <%= image_tag "enamel-pin-hotdog.jpg", style: 'height: 45rem', class: 'w-screen object-cover' %>
  </div>
</section>