<section class="mx-12">
  <h2 class="mx-6 py-12 text-4xl">Cart</h2>
  <% if @current_cart.order_items.any? %>
    <div class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="mx-12 shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="table-auto w-full">
              <thead class="border-b-2 border-gray-50 table-header-group">
              <tr class="h-12 bg-gray-100">
                <th class="">Item</th>
                <th class="">Price</th>
                <th class="">Qty</th>
                <th class="">Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @current_cart.order_items.each do |item| %>
                <tr class="border-b-2 border-gray-50 px-6 w-full">
                  <td class="flex flex-row">
                    <div class="w-36 p-6 ml-24">
                      <%= image_tag item.product.image_1.thumb.url %>
                    </div>
                    <p class="flex flex-col justify-center"><%= item.product.title %></p>
                  </td>
                  <td class="text-center">
                    <%= number_to_currency(item.product.price / 100) %>
                  </td>
                  <td class="flex justify-center">
                    <%= simple_form_for [item.product, item] do |f| %>
                      <div class="flex">
                        <%= f.input :quantity, label: false, input_html: { class: 'w-16 mx-1 rounded-md' } %>
                        <button><%= f.button :submit, "Update", class: 'p-2 pb-3 mb-1 w-24 mx-1 rounded-md' %></button>
                      </div>
                    <% end %>
                  </td>
                  <td class="mx-2 h-36 text-center">
                    <button class="p-2 pb-3 mb-1 rounded-md bg-red-100">
                      <%= link_to "Remove", product_order_item_path(item.product, item), method: :delete %>
                    </button>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <p class="mx-6">Your cart is currently empty. Go pick out something nice.</p>
  <% end %>
</section>

